<!DOCTYPE html>
<html ng-app="GraphAlgVisualizer">
<head lang="en">
    <meta charset="UTF-8">
    <title>Graph Algorithm Visualizer</title>

    <link rel="stylesheet" href="libraries/bootstrap-theme.min.css">
    <link rel="stylesheet" href="libraries/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="libraries/codemirror.min.css">
    <link rel="stylesheet" href="codeMirrorTheme.css">

    <script src="libraries/codemirror.min.js"></script>

    <script src="libraries/angular.min.js"></script>
    <script src="libraries/angular-animate.min.js"></script>
    <script src="libraries/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script src="libraries/easeljs-0.8.2.min.js"></script>
    <script data-main="main" src="libraries/require.min.js"></script>

</head>
<body ng-controller="EaselController as easelCtrl" style="background-color: #333333">

    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" dropdown auto-close="outsideClick">
            <button type="button" class=" btn btn-warning dropdown-toggle" dropdown-toggle role="button" aria-expanded="false" tooltip-placement="bottom"
                    tooltip="A list of various interesting distributed algorithms. Click 'code' and 'graph' to load a sample of each.">Load Samples <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-left samples-dropdown" role="menu">
                <li ng-repeat="sample in easelCtrl.samples">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-loadSample-desc"  ng-click="">{{ sample.title }}</button>
                        <button type="button" class="btn btn-loadSample-code"  ng-click="easelCtrl.alg_load(sample.path)">Code</button>
                        <button type="button" class="btn btn-loadSample-graph" ng-click="easelCtrl.graph_generate(sample.graphType)">Graph</button>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-danger"  tooltip-placement="bottom" ng-click="easelCtrl.resetStage()"
                tooltip="This will reset any algorithm that may be running and wipe the graph clean, removing all vertices, edges, and initiators.">Reset</button>
        <button type="button" class="btn btn-info"    tooltip-placement="bottom" ng-click="easelCtrl.enterMode_placeVertices()"
                tooltip="A vertex represents a process/node/machine in the network. Click to place, or drag to move already-existing vertices.">Place vertices</button>
        <button type="button" class="btn btn-info"    tooltip-placement="bottom" ng-click="easelCtrl.enterMode_drawEdges()"
                tooltip="An edge represents a channel between one process in the network and another, which may be used to send and receive messages. Simply click-and-drag from one vertex to another.">Draw edges</button>
        <button type="button" class="btn btn-info"    tooltip-placement="bottom" ng-click="easelCtrl.enterMode_markInitiators()"
                tooltip="Initiators are processes that are capable of starting a given algorithm. (Other processes simply propagate it.) Currently in our simulation, all initiators begin simultaneously when you click the Run button, but in reality they could (and would) start at arbitrarily disparate times.">Mark initiators</button>
        <button type="button" class="btn btn-primary" tooltip-placement="bottom" ng-click="easelCtrl.enterMode_removeVertices()"
                tooltip="asdasd">Remove vertices</button>
        <button type="button" class="btn btn-primary" tooltip-placement="bottom" ng-click="easelCtrl.enterMode_removeEdges()"
                tooltip="asdasd">Remove edges</button>
        <button type="button" class="btn btn-primary" tooltip-placement="bottom" ng-click="easelCtrl.enterMode_unmarkInitiators()"
                tooltip="asdasd">Unmark initiators</button>
        <div class="btn-group" dropdown auto-close="outsideClick">
            <button type="button" class=" btn btn-export dropdown-toggle" dropdown-toggle role="button" aria-expanded="false" tooltip-placement="bottom"
                    tooltip="Retrieve a string representation of the graph currently on-screen. You can copy it and later import it.">Export <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div>
                    <label for="export-textarea">Copy and save the following:</label>
                    <textarea id="export-textarea" class="popover-content" rows="6" ng-init="easelCtrl.updateExportText()" ng-model="easelCtrl.exportText"></textarea>
                </div>
            </div>
        </div>
        <div class="btn-group" dropdown auto-close="outsideClick">
            <button type="button" class=" btn btn-export dropdown-toggle" dropdown-toggle role="button" aria-expanded="false" tooltip-placement="bottom"
                    tooltip="Input a string representation of a graph, as found in Export, to see it generated.">Import <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form>
                    <fieldset class="form-group">
                        <label for="import-textarea">Paste graph:</label>
                        <textarea class="form-control" id="import-textarea" ng-model="easelCtrl.importText" rows="3"></textarea>
                    </fieldset>
                    <button type="submit" class="btn btn-primary" ng-click="easelCtrl.graph_import()">Submit</button>
                </form>
            </div>
        </div>
        <a href="https://github.com/akalenda/CS249_GraphAlgVisualizer">
            <button type="button" class="btn btn-default" tooltip-placement="bottom"
                    tooltip="Visit the Github repository for this webapp!">Github</button>
        </a>
    </div>

    <div>
        <canvas id="mainCanvas" width="1000" height="550" style="background-color: #444444"></canvas>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" ng-click="easelCtrl.alg_reset()">Reset</button>
        <button type="button" class="btn btn-run"    ng-click="easelCtrl.alg_run  ()">Run</button>
    </div>
</body>
</html>