<!DOCTYPE html>
<html ng-app="GraphAlgVisualizer">
<head lang="en">
    <meta charset="UTF-8">
    <title>blah</title>

    <link rel="stylesheet" href="libraries/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="libraries/codemirror.min.css">
    <link rel="stylesheet" href="codeMirrorTheme.css">

    <script src="libraries/codemirror.min.js"></script>
    <script src="libraries/codemirror.javascript.min.js"></script>

    <script src="libraries/angular.min.js"></script>
    <script src="libraries/easeljs-0.8.0.min.js"></script>
    <script data-main="main" src="libraries/require.min.js"></script>

</head>
<body ng-controller="EaselController as easelCtrl" style="background-color: #333333">

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger"  ng-click="easelCtrl.resetStage                ()">Reset</button>
        <button type="button" class="btn btn-info"    ng-click="easelCtrl.enterMode_placeVertices   ()">Place vertices</button>
        <button type="button" class="btn btn-info"    ng-click="easelCtrl.enterMode_drawEdges       ()">Draw edges</button>
        <button type="button" class="btn btn-info"    ng-click="easelCtrl.enterMode_markInitiators  ()">Mark initiators</button>
        <button type="button" class="btn btn-primary" ng-click="easelCtrl.enterMode_removeVertices  ()">Remove vertices</button>
        <button type="button" class="btn btn-primary" ng-click="easelCtrl.enterMode_removeEdges     ()">Remove edges</button>
        <button type="button" class="btn btn-primary" ng-click="easelCtrl.enterMode_unmarkInitiators()">Unmark initiators</button>
    </div>

    <div>
        <canvas id="mainCanvas" width="1000" height="550" style="background-color: #444444"></canvas>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" ng-click="easelCtrl.alg_reset()">Reset</button>
        <button type="button" class="btn btn-info"   ng-click="easelCtrl.alg_run  ()">Run</button>
    </div>

</body>
</html>